# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
out/
build/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

# SQLite database
*.db
*.db-shm
*.db-wal

# User-specific files
*.rsuser
*.suo
*.cache

# Logs
*.log
